{% extends "layout.twig" %}
{% block content %}
    <h1>Dashboard</h1>
    <ul>
        <li><a href="add/user">Users</a></li>
        <li><a href="add/job">Job</a></li>
    </ul>

    <a href="logout">Logout</a>
{% endblock %}