{% extends "layout.twig" %}
{% block content %}
<h1>Login</h1>
<div class="alert alert-primary" role="alert">
{{ responsiveMessage }}
</div>
{# se utiliza un tipo especial de encoding cuajndo se quiere subir archivos #}
<form action="auth" method='POST' >
  <label for="email">Email</label>
  <input type="email" name='email' id='email'placeholder="aasdfg@mail.com">
  <br>
  <label for="password">Password</label>
  <input type="password" name='password' id='password'>
  <br>
  <input type="submit" value="Login">
</form>
{% endblock %}
